*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 4rem;
    background-color: #84b8df;
}

.container{
    display: flex;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
}

.container.header{
    
    align-items: center;
}

.top{
    background-color: #daa520;
    border: .1rem dashed black;
    height: 2.5rem;
}

.logo, 
.login{
    width: 20%;
}

.link{
    width: 50%;
}

.container.main{
    background-color: #0000ff;
    align-items: center;
}

.container.main>div{
    width: 60%;
    height: 20rem;
    margin: 2rem;
    border: .1rem dashed black;
    background-color: blueviolet;
}

.item{
    margin: 2rem 0 2rem;
    border: .1rem dashed black;

}

.item.first{
    width: 50%;
    height: 25rem;
    background-color: pink;

}

.item.second{
    width: 30%;
    height: 25rem;
    background-color: aqua;

}

.item.bottom{
    width: 80%;
    background-color: green;
    border: .1rem dashed black;
    height: 50rem;

}

